
@font-face {
  font-family: "PrintBold-J5o";
  src: url('../../../../wwwroot/PrintBold-J5o.ttf');
}

.accordion{
    background-color: transparent;
    font-family: PrintBold-J5o;
}

.accordion-item {
  background-color: #191919;
  color: gray;
  font-size: 1.4rem;
}




.accordion-button {
  background-color: #141414;
  color: whitesmoke;
  font-size: 1.6rem;
}

.tlacitko {
  border-style: double;
  border-color: #252525;
  rotate: 5deg;
  border-radius: 0.5rem;
  border-width: 0.2rem;
  color: #141414;
}

@keyframes lgbt {
  0% {
    background-color: red;
  }

  20% {
    background-color: orange;
  }

  40% {
    background-color: yellow;
  }

  60% {
    background-color: lawngreen;
  }

  80% {
    background-color: darkslateblue;
  }

  100% {
    background-color: purple;
  }
}

.timko {
  animation-name: lgbt;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#ggg {
  min-width: 300px;
  min-height: 100px;
  color: #171717;
  background-image: url("../../assets/nuhuh.gif");
  background-size:cover;
  background-position:center;
}
