/*
.flex-container {
  display: flex;
  border: groove;
  border-width: 5px;
  border-color: seagreen;
  margin : 10px 0px 10px 0px;
  padding: 0px 10px 0px 10px;
}

.flex-child {
  flex: 0.5;
}

  .flex-child:first-child {
    margin-right: 20px;
  }

.pocet, .nazov {
    font-size: 32px;
}
    */
.accordion{
    background-color: transparent;
}

.accordion-item {
  background-color: #191919;
  color: gray;
  font-size: 1.4rem;
}




.accordion-button {
  background-color: #141414;
  color: whitesmoke;
  font-size: 1.6rem;
}


