a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

@font-face {
  font-family: "PrintBold-J5o";
  src: url('../../../../wwwroot/PrintBold-J5o.ttf');
}

a {
  margin: 4px;
  background: #ff0000;
  color: papayawhip;
  border-radius: 20px;
  padding: 10px;
  animation-name: lgbt;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  font-family: PrintBold-J5o;
  font-size: 20px;
}

@keyframes lgbt {
  0% {
    background-color: red;
  }

  20% {
      background-color: orange;
  }

  40% {
    background-color: yellow;
  }

  60% {
    background-color: lawngreen;
  }

  80% {
    background-color: darkslateblue;
  }

  100% {
      background-color: purple;
  }
}

header {
  background: #141414;
  color: forestgreen;
}


ul {
  background: transparent;
  color: papayawhip;
}

div {
  background: transparent;
}

html {
  font-size: 32px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar-brand{
    font-family: PrintBold-J5o;
    font-size: 28px;
}

